<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="#">todo</a>
</nav>
<div class="card mt-2 ml-2 mr-2 ">
  <div class="card-header">
    input
  </div>
  <div class="card-body">
    <div class="form-group">
      <input type="text" [(ngModel)]="content" class="form-control" placeholder="input task text..."/>
    </div>
    <div class="form-group">
      <button class="btn btn-block btn-primary" (click)="onAddTask()">Add</button>
    </div>
  </div>
</div>
<div class="card mt-2 ml-2 mr-2 ">
  <div class="card-header">
    list
  </div>
  <div class="card-body">
    <div class="list-group" *ngFor="let task of taskAry">
      <a class="list-group-item d-flex justify-content-between align-items-center list-group-item-action mb-2">
        <div class="check-btn btn btn-dark btn-sm mr-2 pb-2">
          <span class="oi oi-check"></span>
        </div>
        <div class="d-flex w-100 justify-content-between">
          {{task.content}}
        </div>
        <button class="close-btn btn btn-dark btn-sm mr-2 pb-2" (click)="onDeleteTask(task)">
          <span class="oi oi-x" title="x" aria-hidden="true"></span>
        </button>
      </a>
    </div>
  </div>
</div>
