<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="#">todo</a>
  <button class="btn btn-info btn-mini" (click)="onOutFile()">outfile<span class="oi oi-file ml-2"></span></button>
</nav>
<div class="card mt-2 ml-2 mr-2 ">
  <div class="card-header d-flex justify-content-between" (click)="toggleInputPanel()">
    TODOを入力する
    <div *ngIf="this.input_panel_state == 'active'; then statusPanelOpen else statusPanelClose"></div>
    <ng-template #statusPanelOpen><span class="oi oi-chevron-top"></span></ng-template>
    <ng-template #statusPanelClose><span class="oi oi-chevron-bottom"></span></ng-template>
  </div>
  <div class="card-body" [@input_panel_state]="input_panel_state">
    <div class="form-group">
      <textarea [(ngModel)]="content" class="form-control" placeholder="input task text..."></textarea>
    </div>
    <div class="form-group">
      <button class="btn btn-block btn-primary" (click)="onAddTask()">Add</button>
    </div>
  </div>
</div>
<div class="card mt-2 ml-2 mr-2 ">
  <div class="card-header">
    TODO一覧
  </div>
  <div class="card-body">
    <div *ngIf="taskAry.length == 0">
      タスクがありません。
    </div>
    <div *ngIf="taskAry.length != 0" class="mb-2">
      {{taskAry.length}}件のタスクがあります。{{this.completeCnt}}件が完了しました。 <br />
      <div *ngIf="taskAry.length == completeCnt" class="mb-2">
        すべてのタスクが完了しました。お疲れ様でした。
      </div>
    </div>
    <div class="list-group" *ngFor="let task of taskAry">
      <a class="list-group-item d-flex justify-content-between align-items-center list-group-item-action mb-2">
        <div class="check-btn btn btn-{{task.task_status}} btn-sm mr-2 pb-1" (click)="onCheckTask(task)">
          <span *ngIf="task.task_status" class="oi oi-check"></span>
        </div>
        <div class="d-flex w-100 justify-content-between task_content">
          <div *ngIf="task.task_status == 'dark'; then statusDarkBlock else statusSuccessBlock"></div>
          <ng-template #statusDarkBlock><div class="normal_text">{{task.content}}</div></ng-template>
          <ng-template #statusSuccessBlock><div class="cancel_text">{{task.content}}</div></ng-template>
        </div>
        <button class="close-btn btn btn-dark btn-sm mr-2 pb-2" (click)="onDeleteTask(task)">
          <span class="oi oi-x" title="x" aria-hidden="true"></span>
        </button>
      </a>
    </div>
  </div>
</div>
